<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Ứng dụng cần quyền truy cập Thư viện ảnh để lưu video kết quả phân tích ADAS.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Ứng dụng cần quyền truy cập Thư viện ảnh để chọn và lưu video.</string>
    <key>NSCameraUsageDescription</key>
    <string>Ứng dụng cần quyền truy cập Camera để quay video phân tích lái xe và giám sát tài xế trực tiếp.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Ứng dụng sử dụng Face ID để bảo mật tài khoản và xác thực người dùng nhanh chóng.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Ứng dụng cần quyền truy cập Micro để ghi âm âm thanh trong video khi bạn quay video trực tiếp.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
